<div class="container-fluid p-0">
  <div class="swiper swiper-poster-grid swiper-poster">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide movie-cover animate__animated animate__fadeInRightBig"
        *ngFor="let value of data; trackBy: trackByMovieId"
        #poster
      >
        <div class="overlay" (click)="onRedirectToDetailPage(value)"></div>
        <div style="position: relative">
          <img
            [appLazyImage]="value.poster_path | poster : 'w342'"
            [alt]="value.title || value.name"
            class="swiper-img animate__animated animate__fadeIn animate__delay-2s lazy-image"
            decoding="async"
            loading="lazy"
            (click)="onRedirectToDetailPage(value)"
          />
        </div>
        <a class="play-button rounded-full">
          <i class="fa-solid fa-play"></i>
        </a>
      </div>
    </div>
  </div>
</div>
