
<div class="container-fluid p-0">   
    <div class="row">
        <div class="col-6  col-md-2 mb-4 animate__animated  animate__fadeInRightBig" 
            *ngFor=" let value of data ">
            <div class="poster" >
                <div class="overlay"  
                    (click)="onRedirectToDetailPage( value )">
                </div>
                <img [src]=" value.poster_path | poster" class="swiper-img animate__animated animate__fadeIn animate__delay-2s" alt="{{ value.title }}" >
                <a class="play-button rounded-circle">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>





