.copyright{
    color: var(--transparent-white);
    text-align: end;
    font-size: 0.8rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-size {
  font-size: 0.8rem;
  color: var(--transparent-white);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-icon {
  font-size: 1.2rem;
  color: var(--transparent-white);
  transition: all 0.3s ease-in-out;
}

.footer-icon:hover, .footer-size:hover {
    color: var(--white);
  }
