<div class="background-black pt-5">
  <div class="flex justify-between flex-col-reverse md:flex-row py-5 mx-auto max-w-md md:max-w-6xl">
    <div class="flex items-start flex-col gap-2">
      <ul class="flex justify-start gap-10 items-center flex-row">
        <li>
          <a
            href="https://www.linkedin.com/in/tomasvillarruel/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin footer-icon"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/tomivillarruelDev" target="_blank">
            <i class="fa-brands fa-github footer-icon"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/tomivillarruelDev/Reel-VERSE"
            target="_blank"
          >
            <i class="fa-solid fa-code-branch footer-icon"></i>
          </a>
        </li>
      </ul>

      <p class="copyright text-xs">
        <i class="fa fa-copyright"></i> 2023 TomiVillarruelDev, LCC. Todos los
        derechos reservados
      </p>
    </div>
    <ul class="flex justify-end items-center flex-row gap-2 font-semibold text-sm">
      <li>
        <a href="#" class="footer-size">Privacidad</a>
      </li>
      <li>
        <a href="#" class="footer-size">Términos</a>
      </li>
      <li>
        <a href="#" class="footer-size">Ayuda</a>
      </li>
    </ul>
  </div>
</div>
