<div class="container-fluid black-background pt-5">
    <div class="row py justify-content-center">
        <div class="col-11">
            <div class="row justify-content-between align-items-center py-5">
                <div class="col-12 py-3">
                    <p class="copyright">
                        <i class="fa fa-copyright"></i> 2023 TomiVillarruelDev, LCC. Todos los derechos reservados
                    </p>
                </div>
                <div class="col-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/tomasvillarruel/" target="_blank">
                            <i class="fa-brands fa-linkedin footer-icon"></i>
                        </a></li>
                        <li class="list-inline-item"><a href="https://github.com/" target="_blank">
                            <i class="fa-brands fa-github footer-icon"></i>
                        </a></li>
                        <li class="list-inline-item"><a href="#" target="_blank">
                            <i class="fa-solid fa-code-branch footer-icon"></i>
                        </a></li>
                      </ul>
                </div>
                <div class="col-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="footer-size">Privacidad</a></li>
                        <li class="list-inline-item"><a href="#" class="footer-size">Términos</a></li>
                        <li class="list-inline-item"><a href="#" class="footer-size">Ayuda</a></li>
                      </ul>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
