<div class="with-padding py-5 pt-10 background">
  <div class="justify-center py-14">
    <div class="search-container">
      <form *ngIf="form" [formGroup]="form">
        <input
          class="searchInput rounded-1 mx-auto"
          type="search"
          name="searchInput"
          placeholder="¿Qué estas buscando?"
          formControlName="searchInput"
          [ngClass]="{ 'search-active': showSearch }"
        />
        <i class="fa fa-search search-icon"></i>
      </form>
    </div>
  </div>

  <div>
    <div>
      <app-genres
        *ngIf="genres.length > 0"
        [genres]="genres"
        (genreSelected)="onGenreSelected($event)"
      ></app-genres>
    </div>
  </div>

  <div class="py-3" *ngIf="!showSearch">
    <div>
      <p class="font-semibold mb-2">Nuevas y populares</p>
    </div>
    <div>
      <app-poster-grid
        *ngIf="trendingAll.length > 0"
        [data]="trendingAll"
      ></app-poster-grid>
    </div>
  </div>

  <div class="py-3" *ngIf="showSearch">
    <div>
      <app-backdrop-grid
        *ngIf="results.length > 0; else noResults"
        [data]="results"
      ></app-backdrop-grid>

      <ng-template #noResults>
        <div class="no-results" *ngIf="!loading">
          <p>
            No encontramos nada relacionado con "{{ searchInput }}". Puedes
            buscar por título, género, actores, directores y guionistas
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
