<!-- <nav class="container-fluid py-3"
    >
    <div class="row align-items-center mx-5">
        
    <div class="col-4">
            <div class="row justify-content-start">
                <a routerLink="/movies" class="col-4">
                    Películas
                </a>
                <a routerLink="/series" class="col-4">
                    Series
                </a>
            </div>
            
        </div>

        <div class="col-4 mx-auto">
            <div class="row  justify-content-center">
                <div class="text-center">
                    <a class="logo text-center nav-title"
                    >
                        <span class="fw-800">MOVIE</span><span class="quicsand-600">app  </span><i class="fa-solid fa-film fa-bounce"></i>
                    </a>
                    
                </div>
              
            </div>
        </div>


    
    
</nav> -->

<nav class="navbar navbar-dark py-3 with-padding"
    [ngClass]="{ 'navbar-scrolled': isScrolled }">
  <div class="container-fluid d-flex justify-content-start p-0">

    <button class="navbar-toggler fs-6 p-0 me-lg-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-navbar offcanvas-start p-0 m-0" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-body">
        
        <ul class="navbar-nav flex-grow-1 ps-5">
          <li class="py-3">
            <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </li>
          <li class="py-2">
            <a routerLink="/home" class="fs-5 fw-normal">
              Inicio
            </a>
          </li>
          <li class="py-2">
            <a routerLink="/movies" class="fs-5 fw-normal">
              Películas
            </a>
          </li>
          <li class="py-2">
            <a routerLink="/series" class="fs-5 fw-normal">
              Series
            </a>
          </li>
          <li class="py-2">
            <a routerLink="/search" class="fs-5 fw-normal">
              Buscar
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a routerLink="/movies" class="d-none d-lg-block me-lg-3">
      Películas
    </a>
    <a routerLink="/series" class="d-none d-lg-block">
      Series
    </a>
    
    <button class="btn btn-link search ms-auto" 
    (click)="goToSearch()">
      <i class="fa fa-search m-0 p-0"></i>
    </button>
  </div>
  <div class="logo py-3">
    <a routerLink="/home" class="">
      <img src="./assets/reelVERSE.svg" alt="" class="navbar-icon">
    </a>
  </div>
 
   
  
<div class="position-absolute top-100 start-50 translate-middle my-4"
    *ngIf="sectionTitle">
  <p class="fw-bold fs-4"
    [ngClass]="{ 'animate__animated animate__fadeOutUp': isScrolled }">
    {{ sectionTitle }}
  </p>
</div>
  
  

</nav> 
