<nav
  class="fixed top-0 left-0 right-0 z-10 transition-all duration-300 text-white"
  [ngClass]="{
    'bg-gradient-to-b from-black/50 to-transparent': !isScrolled,
    'navbar-scrolled': isScrolled
  }"
>
  <div class="flex items-center justify-between px-4 py-4 relative">
    <!-- Logo -->
    <a routerLink="/home">
      <img
        src="./assets/reelVERSE.svg"
        alt="Logo"
        class="h-6 md:h-9 transition-all duration-300 md:mb-3 mb-1 me-0 md:ml-3"
        loading="lazy"
      />
    </a>

    <!-- Menú centrado -->
    <ul
      class="flex gap-6 text-sm md:text-base font-semibold absolute left-1/2 -translate-x-1/2"
    >
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-white text-gray-300 transition"
          >Inicio</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          routerLinkActive="active-link"
          class="hover:text-white text-gray-300 transition"
          >Películas</a
        >
      </li>
      <li>
        <a
          routerLink="/series"
          routerLinkActive="active-link"
          class="hover:text-white text-gray-300 transition"
          >Series</a
        >
      </li>
    </ul>

    <!-- Búsqueda -->
    <button
      (click)="goToSearch()"
      class="text-gray-400 hover:text-white transition"
    >
      <i class="fa fa-search text-lg"></i>
    </button>
  </div>
</nav>
