<div
  class="animate__animated animate__fadeIn animate__delay-1s overflow-x-hidden"
  id="seriesPage"
>
  <div>
    <app-slideshow [data]="topRatedSeries"></app-slideshow>
  </div>

  <app-genres
    *ngIf="genres.length > 0"
    [genres]="genres"
    [type]="'serie'"
    (genreSelected)="onGenreSelected($event)"
  ></app-genres>

  <div *ngIf="!search">
    <div
      class="py-2 pb-20 with-padding animate__animated animate__fadeInUp animate__delay-1s"
      #trendingElement
    >
      <div class="" *ngIf="trendingSeries.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft animate__delay-1s"
        >
          Lo que todos están viendo
        </p>
      </div>
      <div class="animate__animated animate__slideInRight animate__delay-1s">
        <app-poster-swiper
          *ngIf="trendingSeries.length > 0"
          [data]="trendingSeries"
        ></app-poster-swiper>
      </div>
    </div>

    <div class="background with-padding">
      <div class="pb-1 pt-3 animate__animated animate__fadeInUp" #newElement>
        <div class="" *ngIf="newEpisodes.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
          >
            Nuevos episodios esta semana
          </p>
        </div>
        <div class="animate__animated animate__zoomIn">
          <app-backdrop-swiper
            *ngIf="newEpisodes.length > 0"
            [data]="newEpisodes"
          ></app-backdrop-swiper>
        </div>
      </div>

      <div class="py-2 animate__animated animate__fadeInUp" #discoverElement>
        <div class="" *ngIf="discoverSeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
          >
            Descubre algo nuevo
          </p>
          <p
            class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft"
          >
            Entre estas joyas ocultas puede estar tu próxima obsesión.
          </p>
        </div>
        <div class="animate__animated animate__slideInLeft">
          <app-poster-swiper
            *ngIf="discoverSeries.length > 0"
            [data]="discoverSeries"
          ></app-poster-swiper>
        </div>
      </div>

      <div class="py-3 animate__animated animate__fadeInUp" #actionElement>
        <div class="" *ngIf="actionSeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
          >
            Acción emocionante
          </p>
        </div>
        <div class="animate__animated animate__slideInRight">
          <app-poster-swiper
            *ngIf="actionSeries.length > 0"
            [data]="actionSeries"
          ></app-poster-swiper>
        </div>
      </div>

      <div
        class="py-4 animate__animated animate__fadeInUp"
        *ngIf="topRatedSeries.length > 0"
        #topElement
      >
        <div class="animate__animated animate__zoomIn">
          <app-text-poster-swiper
            *ngIf="topRatedSeries.length > 0"
            [data]="topRatedSeries"
            [topText]="'NUESTRO TOP 10'"
            [middleText]="'En tendencia'"
            [bottomText]="
              'Las series mas vistas en los últimos días,¡no te las pierdas!'
            "
          >
          </app-text-poster-swiper>
        </div>
      </div>

      <div class="py-3 animate__animated animate__fadeInUp" #latamElement>
        <div class="" *ngIf="latamSeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
          >
            Hits de Latinoamérica
          </p>
          <p
            class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft"
          >
            Disfruta lo mejor de nuestra región.
          </p>
        </div>
        <div class="animate__animated animate__slideInLeft">
          <app-poster-swiper
            *ngIf="latamSeries.length > 0"
            [data]="latamSeries"
          ></app-poster-swiper>
        </div>
      </div>

      <div class="py-3 animate__animated animate__fadeInUp" #familyElement>
        <div class="" *ngIf="familySeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
          >
            Para toda la familia
          </p>
        </div>
        <div class="animate__animated animate__slideInRight">
          <app-poster-swiper
            *ngIf="familySeries.length > 0"
            [data]="familySeries"
          ></app-poster-swiper>
        </div>
      </div>

      <div class="py-4 animate__animated animate__fadeInUp" #dramaElement>
        <div class="animate__animated animate__zoomIn">
          <app-text-poster-swiper
            *ngIf="dramaSeries.length > 0"
            [data]="dramaSeries"
            [topText]="'¡LAS SERIES DE DRAMA QUE TE HARÁN LLORAR!'"
            [middleText]="'¿Listo para un maratón emocional?'"
            [bottomText]="
              '¡Prepárate para las montañas rusas de emociones con estas series de drama!'
            "
          >
          </app-text-poster-swiper>
        </div>
      </div>

      <div
        class="py-3 animate__animated animate__fadeInUp"
        #sciFiAndFantasYElement
      >
        <div class="" *ngIf="sciFiAndFantasySeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
          >
            Descubre lo indescubrible
          </p>
          <p
            class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft"
          >
            ¿Quién necesita la realidad cuando puedes explorar galaxias lejanas
            y reinos mágicos?
          </p>
        </div>
        <div class="animate__animated animate__slideInLeft">
          <app-poster-swiper [data]="sciFiAndFantasySeries"></app-poster-swiper>
        </div>
      </div>

      <div
        class="py-5 animate__animated animate__fadeInUp"
        #warAndPoliticsElement
      >
        <div class="" *ngIf="warAndPoliticsSeries.length > 0">
          <p
            class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
          >
            BATALLAS Y ESTRATEGIAS
          </p>
          <p
            class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft"
          >
            Sumérgete en el mundo de la estrategia, el poder y los conflictos.
          </p>
        </div>
        <div class="animate__animated animate__slideInRight">
          <app-square-poster-swiper
            [data]="warAndPoliticsSeries"
          ></app-square-poster-swiper>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3" *ngIf="search">
    <div class="">
      <app-poster-grid
        *ngIf="results.length > 0"
        [data]="results"
      ></app-poster-grid>
    </div>
  </div>
</div>
