<div class="container-fluid p-0">
  <div class="swiper swiper-backdrop">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide grid-item animate__animated animate__fadeInRightBig"
        *ngFor="let value of data; trackBy: trackByMovieId"
      >
        <div class="image-container">
          <div class="overlay" (click)="onRedirectToDetailPage(value)"></div>
          <div class="image-border">
            <img
              [src]="value.backdrop_path | poster"
              loading="lazy"
              alt="{{ value.title ? value.title : value.name }}"
            />
          </div>
          <a class="play-button rounded-full">
            <i class="fa-solid fa-play"></i>
          </a>
        </div>
        <div>
          <p class="font-semibold text-sm m-0 text-white text-opacity-80">
            {{ value.title ? value.title : value.name }}
          </p>
          <p class="text-xs m-0 text-white text-opacity-80">
            {{
              value.release_date ? (value.release_date | date : "yyyy") : null
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
