<div class="container-fluid p-0">
   
    <div class="swiper swiper-backdrop">
        <div class="swiper-wrapper ">
            <div class="swiper-slide grid-item animate__animated  animate__fadeInRightBig" *ngFor=" let value of data ">
                <div class="image-container">
                    <div class="overlay"  
                        (click)="onRedirectToDetailPage( value )">
                    </div>
                    <div class="image-border">
                        <img [src]=" value.backdrop_path | poster " 
                            class="img-fluid animate__animated animate__fadeIn animate__delay-2s" 
                            alt="{{ value.title ? value.title : value.name}}">
                    </div>
                    <a class="play-button rounded-circle ">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <div class="title">
                    <p class="transparent-white fw-semibold m-0">
                        {{ value.title ? value.title : value.name }}
                    </p>
                </div>
            </div>
    
        </div>
    </div>
</div>