
.image-container {
    position: relative;
    border-radius: 2px;
    transition: box-shadow 0.3s ease-in-out !important;
}

.image-container:hover {
    box-shadow: 0 0 0 3px var(--purple);
    cursor: pointer;
}

.image-border {
    position: relative;
    border-radius: 2px;
}
.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-container {
        height: auto !important;
}

@media screen and (max-width: 440px) {
    .image-container img {
      height: calc((100vw - 20px) / 1.5 * 0.55);
    }
}
  
@media screen and (min-width: 441px) and (max-width: 600px) {
    .image-containerimg {
      height: calc((100vw - 30px) / 2 * 0.55);
    }
}
  
@media screen and (min-width: 601px) and (max-width: 1100px) {
    .image-container img {
      height: calc((100vw - 40px) / 3 * 0.55);
    }
}
  
@media screen and (min-width: 1101px) {
    .image-container img {
        height: calc((100vw - 120px) / 4 * 0.55);
    }
}
