<div class="container-fluid p-0">
  <div class="swiper swiper-square-poster">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide grid-item animate__animated animate__fadeInRightBig"
        *ngFor="let value of data; trackBy: trackByMovieId"
      >
        <div class="image-container">
          <div class="overlay" (click)="onRedirectToDetailPage(value)"></div>
          <div class="image-border">
            <img
              [src]="value.backdrop_path | poster"
              class="swiper-img animate__animated animate__fadeIn animate__delay-2s"
              alt="{{ value.title }}"
              loading="lazy"
            />
          </div>
          <a class="play-button rounded-full">
            <i class="fa-solid fa-play"></i>
          </a>
        </div>
        <div class="movie-title font-semibold">
          <p class="font-semibold text-xs mt-1 text-white text-opacity-80">
            {{ value.title ? value.title : value.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
