<div
  class="animate__animated animate__fadeIn animate__delay-1s overflow-x-hidden min-h-screen"
>
  <div id="home">
    <div *ngIf="playingNowMovies.length > 0">
      <app-slideshow [data]="playingNowMovies"></app-slideshow>
    </div>
  </div>

  <div
    class="with-padding pb-20 animate__animated animate__fadeInUp animate__delay-1s swiper-container-placeholder"
    #recommendedElement
  >
    <div class="" *ngIf="recommendedMovies.length > 0">
      <p
        class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft animate__delay-1s"
      >
        Solo para ti
      </p>
    </div>
    <div class="animate__animated animate__fadeInUp animate__delay-1s">
      <app-backdrop-swiper
        *ngIf="recommendedMovies.length > 0"
        [data]="recommendedMovies"
      ></app-backdrop-swiper>
    </div>
  </div>
  <div class="background with-padding" style="min-height: 100vh;">
    <div
      class="py-1 animate__animated animate__fadeInUp animate__delay-2s"
      #popularElement
    >
      <div class="" *ngIf="popularMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft animate__delay-2s"
        >
          Nuevas y populares
        </p>
      </div>
      <div class="animate__animated animate__fadeInUp animate__delay-2s overflow-hidden">
        <app-square-poster-swiper
          *ngIf="popularMovies.length > 0"
          [data]="popularMovies"
        ></app-square-poster-swiper>
      </div>
    </div>

    <div
      class="py-3 animate__animated animate__fadeInUp animate__delay-3s overflow-hidden"
      #seriesElement
    >
      <div class="" *ngIf="series.length > 0">
        <p
          class="text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft animate__delay-3s"
        >
          Solo en <span class="font-extrabold">reel</span>VERSE
        </p>
        <p
          class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft animate__delay-3s"
        >
          Streaming exclusivo del mejor contenido, solo aquí.
        </p>
      </div>
      <div class="animate__animated animate__fadeInUp animate__delay-3s overflow-hidden">
        <app-poster-swiper
          *ngIf="series.length > 0"
          [data]="series"
        ></app-poster-swiper>
      </div>
    </div>

    <!-- <div class="py-md-2" #topElement>
      <div class="" *ngIf="topMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Películas Top</p>
      </div>
      <div class="">
        <app-backdrop-swiper
          *ngIf="topMovies.length > 0"
          [data]="topMovies"
        ></app-backdrop-swiper>
      </div>
    </div> -->

    <div class="py-1 animate__animated animate__fadeInUp overflow-hidden" #justAddedElement>
      <div class="" *ngIf="justAdded.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          Recién añadidos.
        </p>
        <p
          class="text-sm text-white text-opacity-65 mb-1 animate__animated animate__fadeInLeft"
        >
          No seas el último en verlos.
        </p>
      </div>
      <div class="animate__animated animate__slideInLeft">
        <app-large-poster-swiper
          *ngIf="justAdded.length > 0"
          [data]="justAdded"
        ></app-large-poster-swiper>
      </div>
    </div>

    <div class="py-5 animate__animated animate__fadeInUp" #trendingElement>
      <div class="" *ngIf="trendingAll.length > 0">
        <app-text-poster-swiper
          *ngIf="trendingAll.length > 0"
          [data]="trendingAll"
          [topText]="'NUESTRO TOP 10'"
          [middleText]="'En tendencia'"
          [bottomText]="
            'Las películas y series mas vistas en los últimos días,¡no te las pierdas!'
          "
        >
        </app-text-poster-swiper>
      </div>
    </div>

    <div class="py-1 animate__animated animate__fadeInUp">
      <div class="" *ngIf="playingNowMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
        >
          Del cine a tu casa
        </p>
      </div>
      <div class="animate__animated animate__slideInRight">
        <app-poster-swiper
          *ngIf="playingNowMovies.length > 0"
          [data]="playingNowMovies"
        ></app-poster-swiper>
      </div>
    </div>

    <div
      class="md:py-2 py-4 animate__animated animate__fadeInUp"
      #upComingElement
    >
      <div class="" *ngIf="upComingMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
        >
          Próximamente
        </p>
      </div>
      <div class="animate__animated animate__zoomIn">
        <app-backdrop-swiper
          *ngIf="upComingMovies.length > 0"
          [data]="upComingMovies"
        ></app-backdrop-swiper>
      </div>
    </div>

    <div class="md:py-2 py-4 animate__animated animate__fadeInUp" #kidsElement>
      <div class="" *ngIf="kidsSeries.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          Zona de juegos
        </p>
        <p
          class="text-white text-opacity-65 text-sm mb-1 animate__animated animate__fadeInLeft"
        >
          ¡Series que te dejarán asombrado!
        </p>
      </div>
      <div class="animate__animated animate__slideInLeft">
        <app-poster-swiper
          *ngIf="kidsSeries.length > 0"
          [data]="kidsSeries"
        ></app-poster-swiper>
      </div>
    </div>

    <div
      class="md:py-1 py-4 animate__animated animate__fadeInUp"
      #heroesElement
    >
      <div class="" *ngIf="heroesMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          ¡Salvar el mundo puede ser muy divertido!
        </p>
        <p
          class="text-white text-opacity-65 text-sm mb-1 animate__animated animate__fadeInLeft"
        >
          ¡Están salvando al mundo antes de poder dirigirlo!
        </p>
      </div>
      <div class="animate__animated animate__slideInRight">
        <app-poster-swiper
          *ngIf="heroesMovies.length > 0"
          [data]="heroesMovies"
        ></app-poster-swiper>
      </div>
    </div>

    <div
      class="py-4 animate__animated animate__fadeInUp"
      #sciFiAndFantasyElement
    >
      <div class="" *ngIf="sciFiAndFantasySeries.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          Fantasía y Sci-Fi a la carta
        </p>
        <p
          class="text-white text-opacity-65 text-sm mb-1 animate__animated animate__fadeInLeft"
        >
          Siéntate, relájate y deja que tus sueños más increíbles se hagan
          realidad
        </p>
        <div class="animate__animated animate__zoomIn">
          <app-large-poster-swiper
            *ngIf="sciFiAndFantasySeries.length > 0"
            [data]="sciFiAndFantasySeries"
          >
          </app-large-poster-swiper>
        </div>
      </div>
    </div>

    <div
      class="md:py-1 py-4 animate__animated animate__fadeInUp"
      #actionElement
    >
      <div class="" *ngIf="actionMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          Acción pura
        </p>
        <p
          class="text-white text-opacity-65 text-sm mb-1 animate__animated animate__fadeInLeft"
        >
          Si quieres adrenalina y desenfreno, es por aquí.
        </p>
      </div>
      <div class="animate__animated animate__slideInLeft">
        <app-poster-swiper
          *ngIf="actionMovies.length > 0"
          [data]="actionMovies"
        ></app-poster-swiper>
      </div>
    </div>
    <div class="py-1 animate__animated animate__fadeInUp" #comedyElement>
      <div class="" *ngIf="comedySeries.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0 animate__animated animate__fadeInLeft"
        >
          Comedias que mejoraran tu ánimo.
        </p>
        <p
          class="text-white text-opacity-65 text-sm mb-1 animate__animated animate__fadeInLeft"
        >
          Deja todas las preocupaciones atrás, este es tu espacio seguro.
        </p>
      </div>
      <div class="animate__animated animate__zoomIn">
        <app-backdrop-swiper
          *ngIf="comedySeries.length > 0"
          [data]="comedySeries"
        ></app-backdrop-swiper>
      </div>
    </div>

    <div
      class="md:py-2 py-4 animate__animated animate__fadeInUp"
      #horrorElement
    >
      <div class="" *ngIf="horrorMovies.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 my-2 animate__animated animate__fadeInLeft"
        >
          Una de terror siempre es una opción
        </p>
      </div>
      <div class="animate__animated animate__slideInRight">
        <app-large-poster-swiper
          *ngIf="horrorMovies.length > 0"
          [data]="horrorMovies"
        ></app-large-poster-swiper>
      </div>
    </div>

    <div class="py-4 animate__animated animate__fadeInUp" #crimeElement>
      <div class="" *ngIf="crimeSeries.length > 0">
        <p
          class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1 animate__animated animate__fadeInLeft"
        >
          Crónicas criminales
        </p>
      </div>
      <div class="animate__animated animate__slideInLeft">
        <app-poster-swiper
          *ngIf="crimeSeries.length > 0"
          [data]="crimeSeries"
        ></app-poster-swiper>
      </div>
    </div>
  </div>
</div>
