<div class="animate__animated animate__fadeIn animate__delay-1s">
  <div id="home">
    <div *ngIf="playingNowMovies.length > 0">
      <app-slideshow [data]="playingNowMovies"></app-slideshow>
    </div>
  </div>

  <div class="container-fluid background with-padding">
    <div class="pt-5 pb-3" #recommendedElement>
      <div class="" *ngIf="recommendedMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Solo para ti</p>
      </div>
      <div class="">
        <app-backdrop-swiper
          *ngIf="recommendedMovies.length > 0"
          [data]="recommendedMovies"
        ></app-backdrop-swiper>
      </div>
    </div>

    <div class="py-1" #popularElement>
      <div class="" *ngIf="popularMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Nuevas y populares</p>
      </div>
      <div class="">
        <app-square-poster-swiper
          *ngIf="popularMovies.length > 0"
          [data]="popularMovies"
        ></app-square-poster-swiper>
      </div>
    </div>

    <div class="py-3" #seriesElement>
      <div class="" *ngIf="series.length > 0">
        <p class="text-[0.95rem] text-white text-opacity-85 my-0">Solo en <span class="font-extrabold">reel</span>VERSE</p>
        <p class="text-sm text-white text-opacity-65 mb-1">
          Streaming exclusivo del mejor contenido, solo aquí.
        </p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="series.length > 0"
          [data]="series"
        ></app-poster-swiper>
      </div>
    </div>

    <!-- <div class="py-md-2" #topElement>
      <div class="" *ngIf="topMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Películas Top</p>
      </div>
      <div class="">
        <app-backdrop-swiper
          *ngIf="topMovies.length > 0"
          [data]="topMovies"
        ></app-backdrop-swiper>
      </div>
    </div> -->

    <div class="py-1" #justAddedElement>
      <div class="" *ngIf="justAdded.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">Recién añadidos.</p>
        <p class="text-sm text-white text-opacity-65 mb-1">No seas el último en verlos.</p>
      </div>
      <div class="">
        <app-large-poster-swiper
          *ngIf="justAdded.length > 0"
          [data]="justAdded"
        ></app-large-poster-swiper>
      </div>
    </div>

    <div class="py-5" #trendingElement>
      <div class="" *ngIf="trendingAll.length > 0">
        <app-text-poster-swiper
          *ngIf="trendingAll.length > 0"
          [data]="trendingAll"
          [topText]="'NUESTRO TOP 10'"
          [middleText]="'En tendencia'"
          [bottomText]="
            'Las películas y series mas vistas en los últimos días,¡no te las pierdas!'
          "
        >
        </app-text-poster-swiper>
      </div>
    </div>

    <div class="py-1">
      <div class="" *ngIf="playingNowMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Del cine a tu casa</p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="playingNowMovies.length > 0"
          [data]="playingNowMovies"
        ></app-poster-swiper>
      </div>
    </div>

    <div class="md:py-2 py-4" #upComingElement>
      <div class="" *ngIf="upComingMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Próximamente</p>
      </div>
      <div class="">
        <app-backdrop-swiper
          *ngIf="upComingMovies.length > 0"
          [data]="upComingMovies"
        ></app-backdrop-swiper>
      </div>
    </div>

    <div class="md:py-2 py-4" #kidsElement>
      <div class="" *ngIf="kidsSeries.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">Zona de juegos</p>
        <p class="text-white text-opacity-65 text-sm mb-1">
          ¡Series que te dejarán asombrado!
        </p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="kidsSeries.length > 0"
          [data]="kidsSeries"
        ></app-poster-swiper>
      </div>
    </div>

    <div class="md:py-1 py-4" #heroesElement>
      <div class="" *ngIf="heroesMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">¡Salvar el mundo puede ser muy divertido!</p>
        <p class="text-white text-opacity-65 text-sm mb-1">
          ¡Están salvando al mundo antes de poder dirigirlo!
        </p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="heroesMovies.length > 0"
          [data]="heroesMovies"
        ></app-poster-swiper>
      </div>
    </div>

    <div class="py-4" #sciFiAndFantasyElement>
      <div class="" *ngIf="sciFiAndFantasySeries.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">Fantasía y Sci-Fi a la carta</p>
        <p class="text-white text-opacity-65 text-sm mb-1">
          Siéntate, relájate y deja que tus sueños más increíbles se hagan
          realidad
        </p>
        <app-large-poster-swiper
          *ngIf="sciFiAndFantasySeries.length > 0"
          [data]="sciFiAndFantasySeries"
        >
        </app-large-poster-swiper>
      </div>
    </div>

    <div class="md:py-1 py-4" #actionElement>
      <div class="" *ngIf="actionMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">Acción pura</p>
        <p class="text-white text-opacity-65 text-sm mb-1">
          Si quieres adrenalina y desenfreno, es por aquí.
        </p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="actionMovies.length > 0"
          [data]="actionMovies"
        ></app-poster-swiper>
      </div>
    </div>
    <div class="py-1" #comedyElement>
      <div class="" *ngIf="comedySeries.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-0">Comedias que mejoraran tu ánimo.</p>
        <p class="text-white text-opacity-65 text-sm mb-1">
          Deja todas las preocupaciones atrás, este es tu espacio seguro.
        </p>
      </div>
      <div class="">
        <app-backdrop-swiper
          *ngIf="comedySeries.length > 0"
          [data]="comedySeries"
        ></app-backdrop-swiper>
      </div>
    </div>

    <div class="md:py-2 py-4" #horrorElement>
      <div class="" *ngIf="horrorMovies.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 my-2">Una de terror siempre es una opción</p>
      </div>
      <div class="">
        <app-large-poster-swiper
          *ngIf="horrorMovies.length > 0"
          [data]="horrorMovies"
        ></app-large-poster-swiper>
      </div>
    </div>

    <div class="py-4" #crimeElement>
      <div class="" *ngIf="crimeSeries.length > 0">
        <p class="font-semibold text-[0.95rem] text-white text-opacity-85 mb-1">Crónicas criminales</p>
      </div>
      <div class="">
        <app-poster-swiper
          *ngIf="crimeSeries.length > 0"
          [data]="crimeSeries"
        ></app-poster-swiper>
      </div>
    </div>
  </div>
</div>
