.swiper-wrapper {
  padding: 0;
}

.swiper-large-screen {
  min-height: 100vh;
}

.swiper-slide {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.slide-content__title {
  height: 150px;
  max-width: 100%;
  width: auto;
  display: flex;
  align-items: end;
  justify-content: start;
}

.slide-content__title__logo {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(10, 10, 10, 1) 100%
  );
  pointer-events: none;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.8rem;
  width: 29rem;
  height: 100%;
  position: relative;
  padding-bottom: 4rem;
  z-index: 2;
  cursor: default;
}

.slide-content__info-text {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin: 0;
}

.slide-content__info__description {
  width: 21rem;
}

/* Truncar descripción a máximo 3 líneas */
.slide-content__info__description p {
  display: -webkit-box;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Propiedad estándar para compatibilidad */
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Altura mínima para 3 líneas */
  min-height: calc(1.2em * 3);
  margin: 0;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  z-index: 10;
}

.buttons-container__button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 1.6rem;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

.buttons-container__button-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  transition: all 0.3s ease-in-out;
}

.buttons-container__button-play i,
.buttons-container__button-more-info {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.buttons-container__button-play:hover,
.buttons-container__button-more-info:hover {
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.98);
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .swiper-slide {
    background-position: center center;
    background-size: cover;
  }

  .buttons-container {
    display: none;
  }

  .swiper-slide::after {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 10%,
      rgba(10, 10, 10, 1) 78%
    );
  }
  .slide-content {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-left: 0rem;
    width: 100%;
    padding-bottom: 2.5rem;
  }

  .slide-content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .slide-content__info__description {
    width: 18rem;
  }

  .slide-content__info__description p {
    font-size: 0.7rem;
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Propiedad estándar para compatibilidad */
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Altura mínima para 3 líneas */
    min-height: calc(1.2em * 3);
  }

  .slide-content__title {
    font-size: 14rem;
    align-items: end;
    height: 190px;
    max-width: 60%;
    width: auto;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .swiper-button-container {
    display: none;
  }
}
