<div class="swiper swiper-large-screen no-padding" >
    <div class="swiper-wrapper animate__animated  animate__fadeInRightBig">

        <div class="swiper-slide large-screen"
        *ngFor="let value of data.slice(0, 7)"
        [ngStyle]="{
        'background-image': 'url(https://image.tmdb.org/t/p/original' + (isLargeScreen ? value.backdrop_path : value.poster_path) + ')'
        }">
            <div class="movie-description with-padding">
                <div class="movie-description__title">
                    <p class="display-6 fw-semibold my-0">
                        {{ (value.title ? value.title : value.name) | cut }}
                    </p>
                </div>
                <div class="movie-description__overview">
                    <p class="small transparent-white-75">
                        {{ value.overview | cut:16 }}
                    </p>
                </div>
                <div class="buttons-container">
                    <a href="" class="buttons-container__button-play rounded-circle">
                        <i class="fa-solid fa-play"></i>
                    </a>
                    <a class="buttons-container__button-more-info rounded-1 fw-semibold">
                        Más info
                    </a>
                </div>
            </div>
        </div>
        
    </div>

    
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev-container">
        <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-button-next-container">
        <div class="swiper-button-next"></div>
    </div>
  

</div>
