@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~swiper/swiper-bundle.css";
:root {
  --manrope: "Manrope", sans-serif;

  --light-gray: rgb(44, 41, 48);

  --gray: #cccccc;

  --dark-gray: #0f0f0f;

  --purple: #753eef;

  --transparent-white: rgba(255, 255, 255, 0.6);

  --transparent-white-75: rgba(255, 255, 255, 0.75);
}

* {
  font-family: var(--manrope);
}

body {
  scroll-behavior: smooth;
  background-color: var(--dark-gray);
  font-size: 1.2rem;
  color: white
}

.background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    167deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(1, 0, 1, 1) 11%,
    rgba(15, 5, 38, 1) 15%,
    rgba(27, 6, 43, 1) 30%,
    rgba(21, 5, 43, 1) 34%,
    rgba(20, 5, 40, 1) 37%,
    rgba(22, 5, 43, 1) 43%,
    rgba(25, 5, 42, 1) 48%,
    rgba(27, 6, 43, 1) 54%,
    rgba(35, 7, 44, 1) 57%,
    rgba(29, 5, 36, 1) 60%,
    rgba(29, 5, 37, 1) 63%,
    rgba(32, 6, 40, 1) 67%,
    rgba(26, 4, 30, 1) 74%,
    rgba(19, 3, 21, 1) 79%,
    rgba(34, 7, 45, 1) 87%,
    rgba(0, 0, 0, 1) 91%
  );
  min-height: 100vh;
}

.background-black {
  background-color: black;
}

.with-padding {
  padding-left: 3rem;
}

.no-padding {
  padding-left: 0;
}

a {
  color: white;
  text-decoration: none;
}

.text-xxs {
  font-size: 0.75rem;
}

.small {
  font-size: 0.9rem;
}

.transparent-white {
  color: var(--transparent-white);
}

.transparent-white-75 {
  color: var(--transparent-white-75);
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 6px !important;
  height: 6px !important;
  margin: 0 8px !important;
}

.swiper-buttons {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--gray) !important;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.4);
  z-index: 2;
}

.swiper-button-next-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(0.6);
  color: white;
}

.swiper-wrapper {
  padding: 0.2rem;
}
.movie-cover,
.poster {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2px;
  box-shadow: none;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out !important;
}

.movie-cover:hover,
.poster:hover,
.image-container:hover {
  box-shadow: 0 0 0 3px var(--purple);
  cursor: pointer;
}

.movie-cover:hover .overlay,
.poster:hover .overlay,
.grid-item:hover .overlay {
  background-color: transparent;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
}

.play-button {
  display: none;
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--gray);
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.play-button i {
  color: black;
}

.play-button:hover {
  background-color: #fff;
  width: 3.1rem;
  height: 3.1rem;
}

.see-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 18rem;
  height: 3rem;
  background-color: #DDDD;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.see-now-button:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.02);
}

.swiper-img,
.grid-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-cover:hover .play-button,
.poster:hover .play-button,
.grid-item:hover .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .with-padding {
    padding-left: 2.25rem;
  }

  .text-xs {
    font-size: 0.6rem;
  }
}

@media (max-width: 576px) {
  .with-padding {
    padding-left: 1.75rem;
  }
}
